@import url('https://fonts.googleapis.com/css?family=Varela Round');

button {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 200;
    height: 100;
    font-size: 70px;
    margin-top: -50px;
    margin-left: -100px;
    border-radius: 30px;
    border-width: 4px;
    background-color: dimgray;
    border-color: black;
    font-family: 'Varela Round';
    color: white;
}

.ad-zone{
    height: 10px;
}

/*<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>*/
body {
    background-color: black;
}

.bg-image {
  /* The image used */
  background-image: url("./SHAPE\ DEFENSE\(1\).png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}